@import url('https://fonts.googleapis.com/css?family=Oswald|Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #00314b;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: #d31e1e;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
a,
span,
input,
form,
.btn,
.navbar,
.navbar-brand {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Oswald', sans-serif 'Sriracha', cursive;
}

h1 {
    font-size: 55px;
    color: #3b7fff;
    font-weight: 300;
}

h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
}

h3 {
    color: #414042;
    font-size: 36px;
    font-weight: 300;
}

h4 {
    color: #ff0000;
    font-size: 34px;
    font-weight: 600;
  padding: 20px 0px;
     text-shadow: 1px 1px 3px #000;
}

h5 {
    color: #fcfc71;
    font-size: 20px;
    font-weight: 300;
}

h6 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 12px;
    color: #d3d3d3;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
}

.ptb {
    padding: 60px 0px;
}

/* ============================  */
/* >>>>>>> MANU = (START) >>>>>>> */
.header_part {
    width: 100%;
    z-index: 9999;
    background-color: #00376d;
}

.header_part .nav-item .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    color: #cecece;
    padding: 18px 10px;
    font-weight: 600;
    transition: 0.5s;
}

.header_part .navbar-nav .active {
    background: rgba(46, 46, 46, 0.53);
}

.header_part .nav-item .nav-link:hover {
    color: #fff;
}

/* <<<<<<< MANU = (END) <<<<<<<< */
/* >>>>>>>  FOOTER = (START) >>>>> */
.footer_part {
    background: #1d1d1d;
}

.footer_part h3 {
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    font-weight: 600;
    color: #9f9f9f;
}

.footer_part h3 span {
    color: cornflowerblue;
    text-shadow: 0 0 4px #000000;
}

/* <<<<<<< FOOTER = (END) <<<<< */
/* ============================= */
/* >>>>>>>  WOW  = (START) >>>>>>> */
.wowBack {
    background: #00314b;
    position: relative;
    overflow: hidden;
}

.wowWrap div {
    background: #27ae60;
    display: block;
    width: 100%;
    margin: 5% 0;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    border: .5px solid #ddd;
    font-weight: 600;
}

.wowWrap {
    width: 20%;
    float: left;
    padding: 0 .5%;
}

.wowWrap h4 {
    position: fixed;
    z-index: 200;
    width: 100%;
    padding: 1% 0% 1% 0%;
    margin: 0;
    color: white;
    font-size: 1.35vw;
    background: rgba(22, 22, 22, .3)
}

.wowWrap div:first-of-type {
    margin-top: 25%;
}

/*I've assigned class wHighlight to all the animate.css classes that add elements onto the page with delay.  */
.wHighlight {
    background: #28a !important
}

/* <<<<<<<  WOW  = (END) <<<<<<<< */
